<h1 align="center">Temporary sign up page for FIR dapp's master node</h1>
<body>
<div align="center">
<form action="/signup" method="POST">
    <label>Username : </label><input type="text" name="username">
    <br/><br/>
    <label>Password  : </label><input type="password" name="password">
    <br/><br/>
    <input type="submit">
</form>
</div>
</body>
